.main .container.auth {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
  z-index: -1;
}

.main .container.auth .auth-card .blob {
  animation: hue-animation 5s alternate infinite;
  max-height: calc(100vh - 4.2rem);
}
@keyframes hue-animation {
  100% {
    filter: hue-rotate(360deg);
  }
}

.main .container.auth .auth-card {
  padding: 2rem;
  height: max-content;
  width: 100vw;
  max-width: 28rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  margin: 1rem auto;
  border-radius: var(--card-border-radius);
  z-index: 1;
  position: relative;
}

.main .container.auth .auth-card .logo {
  margin: 0rem 0rem 0.6rem;
  font-size: 3rem;
}

.main .container.auth .auth-card .message {
  font-size: 1.6rem;
}

.main .container.auth .auth-card .form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0rem;
}

.main .container.auth .auth-card .form .auth-label {
  font-size: 1rem;
}

.main .container.auth .auth-card .form .auth-input {
  width: 100%;
  max-width: 18rem;
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  color-scheme: light;
}

.main .container.auth .auth-card .form .imp-mark {
  color: var(--color-danger);
  margin-left: 0.6rem;
}

.main .container.auth .auth-card .form .form-error-msg {
  color: var(--color-dark);
  background: var(--color-danger);
  border-radius: var(--border-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0rem 0.8rem;
  margin-top: 0.2rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-10px);
  animation: reveal 0.3s ease-in forwards;
}

.main .container.auth .auth-card .form .offscreen {
  display: none;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --color-success
--color-danger */
