/* ================ MAIN ================ */

.main {
  position: relative;
  top: 4.2rem;
}

.main .container.home {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  grid-template-areas: 'left middle right';
  column-gap: 2rem;
  position: relative;
}

/* ================ LEFT ================ */
.main .container.home .left {
  grid-area: left;
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

.home .left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* ======================= MIDDLE ======================= */
.main .container.home .middle {
  grid-area: middle;
  padding: 1rem 0rem;
}

/* ======================= RIGHT ======================= */

.main .container.home .right {
  grid-area: 'right';
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}
