.profile-card {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: 0.6rem 1rem;
  margin: 1rem 0rem;
}

.main .container.home .profile-card .form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin: 0rem 0rem 1rem;
}

.main .container.home .followings .following-list > * {
  width: 10rem;
}

.main .container.home .profile-card .edit-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.main .container.home .profile-card .edit-btn {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.main .container.home .profile-card .edit-btn.hide {
  display: none;
}

.main .container.home .profile-card .form .auth-label {
  font-size: 1rem;
  width: 100%;
  color: var(--color-secondary);
}
.main .container.home .profile-card .form.edit .auth-label {
  font-size: 1rem;
  width: 100%;
}

.main .container.home .profile-card .form .auth-input {
  width: 100%;
  max-width: 18rem;
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  background: transparent;
}

.main .container.home .profile-card .form.edit .auth-input {
  width: 100%;
  max-width: 26rem;
  border-radius: var(--card-border-radius);
  padding: 0.4rem 0.8rem;
  background: var(--color-gray);
  color: var(--color-white);
}

.main .container.home .profile-card .form .auth-label textarea {
  max-width: 100%;
  border-radius: 0.4rem;
  resize: none;
  background: transparent;
}
.main .container.home .profile-card .form.edit .auth-input textarea {
  max-width: 100%;
  border-radius: 0.4rem;
  resize: none;
  background: var(--color-gray);
  color: var(--color-white);
}

.main .container.home .profile-card .form.edit .auth-input::placeholder {
  color: var(--color-white);
}

.main .container.home .profile-card .form.edit .imp-mark {
  display: inline;
  color: var(--color-danger);
  margin-left: 0.6rem;
}
.main .container.home .profile-card .form .imp-mark {
  /* color: var(--color-danger);
  margin-left: 0.6rem; */
  display: none;
}

.main .container.home .profile-card .form .submit-btn {
  display: none;
}
.main .container.home .profile-card .form.edit .submit-btn {
  display: block;
}

.main .container.home .profile-card .form .form-error-msg,
.main .container.home .profile-card .form.edit .form-error-msg {
  color: var(--color-dark);
  background: var(--color-danger);
  border-radius: var(--border-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0rem 0.8rem;
  margin-top: 0.2rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-10px);
  animation: reveal 0.3s ease-in forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main .container.home .profile-card .form.edit .offscreen,
.main .container.home .profile-card .form .offscreen {
  display: none;
}
