.right .follow-users {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .follow-users .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .follow-users i {
  font-size: 1.4rem;
}

.right .follow-users .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .follow-users .follow-users-list {
  height: 24rem;
  overflow-y: scroll;
}

.right .follow-users .follow-user {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
}

.right .follow-user .profile-photo {
  position: relative;
  overflow: visible;
}

.right .profile-photo img {
  border-radius: 50%;
}

.right .follow-users .follow-user:last-child {
  margin: 0;
}

.right .follow-users .follow-user p {
  font-size: 0.8rem;
}
