.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .post {
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .post .post-text {
  /* font-weight: 300; */
  font-size: 1rem;
}

.middle .feed .post .post-image {
  margin: 0.4rem 0 0rem;
  border-radius: var(--card-border-radius);
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .feed .action-buttons .interaction-buttons {
  display: flex;
  gap: 0.8rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

/* ################# COMMENTS  ################# */

.comments {
  display: flex;
  flex-direction: column;
  height: 20rem;
  overflow-y: scroll;
  background: var(--color-light);
  padding: 0.6rem 0rem;
  border-radius: 0.8rem;
}

.comments.hide {
  display: none;
}

.comments .comment-divider {
  width: 60%;
  margin: 0rem auto;
  opacity: 0.2;
}

.comments .comment-divider:last-child {
  display: none;
}

.comment-option {
  font-size: 1.4rem;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr 1rem;
  padding: 0.4rem 0rem;
}

.comment .profile-photo {
  margin: 0rem 0.6rem;
}

.comment .comment-text {
  font-weight: 200;
}
