/* * RESPONSIVE MEDIA QUERY */

/* ================== HOME PAGE ================== */

/* !======================= max-width: 1200px ======================= */
@media (max-width: 1200px) {
  .nav .container {
    width: 100%;
    padding: 0rem 1rem;
  }

  .main .container.home {
    width: 96%;
    grid-template-columns: 5rem auto 30vw !important;
    grid-template-areas: 'left middle right' !important;
    justify-items: center;
  }

  .main .container.home .left {
    width: 5rem;
    z-index: 5;
  }

  .main .container .left .profile-tag {
    display: none;
  }

  .left .sidebar .sidebar-options {
    display: none;
  }

  .left .btn {
    display: none;
  }
}

/* !======================= max-width: 992px ======================= */
@media screen and (max-width: 992px) {
  .nav .container .search-bar {
    display: none;
  }

  .main .container.home {
    grid-template-columns: auto 5rem !important;
    grid-template-areas: 'middle left' !important;
  }

  /* ======================= RIGHT ======================= */

  .main .container.home .right {
    display: none;
  }
}

/* !======================= max-width: 550px ======================= */
@media screen and (max-width: 550px) {
  .nav .container .search-bar {
    display: none;
  }

  .nav .container .nav-options .create-post-btn {
    display: none;
  }
  .nav .container .nav-options .profile-photo {
    display: none;
  }

  .main .container.home {
    grid-template-columns: 100vw !important;
    grid-template-areas: 'middle left' !important;
    margin: 0;
  }

  /* ======================= LEFT ======================= */
  .main .container.home .left {
    grid-area: middle / left;
  }

  .main .container.home .left .sidebar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -1px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
    box-shadow: 0rem 1rem 0.8rem 1.4rem rgba(0, 0, 0, 0.349);
  }

  .main .container.home .left .sidebar .menu-item.active:before {
    width: 100%;
    height: 0.5rem;
    bottom: 0;
  }

  .main .container.home .left .sidebar .menu-item .sidebar-icons {
    margin: 0rem 1.4rem;
  }

  /* ======================= MIDDLE ======================= */
  .main .container.home .middle {
    grid-area: middle / left;
    padding-bottom: 2.8rem !important;
  }
}

/* ================== LANDING PAGE ================== */

/* !======================= max-width: 992px ======================= */

@media (max-width: 1200px) {
  .main .container.landing .landing-info {
    grid-column: 1 / -1 !important;
  }
  .main .container.landing .landing-image {
    grid-column: 1 / -1 !important;
    z-index: -1;
  }
}

/* !======================= max-width: 700px ======================= */

@media screen and (max-width: 700px) {
  .main .container.landing .landing-info .logo {
    max-width: 100vw;
    padding-left: 0.6rem;
  }
}
